# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Dependencies
*.egg-info/
pip-log.txt

allure-report/
allure-results/

# Pytest
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Logs
*.log
logs/

# IDEs
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db
